body,.pagination{
    background-color: #020714/*#010f30*/;

}
span,.card-title, .page-link{
    color:#B08FD6/*#8b62bd*/;
    
}
.display-1{
    margin-top:15%;
}
.lead{
    margin-bottom:22%;
}
#navbarNav{
    margin-left:50%;
}
.sign:hover{
    background-color:#B08FD6/*#8b62bd*/;
}
.sign{
    color:white;
}   
/*.kont{
    margin-top:19.5%;
}*/
img{
    height:336px;
    margin-bottom: 2%;
}
.footer{
    left:0;
    right:0;
}
html{
    scroll-padding: 7rem;
  }
  .card-body{
    background-color:#020714;
}

 .pagination{
    margin-left: 25%;
 }
 .viewdetails{
    top:0;
    left:0;
    right: 3%;;
    height: 100%;
    padding-top:50% ;
    padding-left: 40%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    transition-duration: all 2s;
   
 }
 .position-relative:hover .viewdetails{
   display: inline-block;
 }
 /*.CreateHackathonForm{
    margin-top: 10%;
 }*/

 