@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button,
ion-icon {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #020714;
}

.container {
  padding: 0px;
  max-width: 1200px;
  margin-inline: auto;
}

.btn {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 100px;
  padding: 12px 30px;
  border: 2px solid white;
  transition: 0.25s ease-in-out;
}

.btn-primary {
  background: #b08fd6;
  border-color: #b08fd6;
}

.btn-primary:is(:hover, :focus) {
  background: #9169bc;
  border-color: #9169bc;
}

.btn-secondary {
  border-color: #ffffff;
}

.btn-secondary:is(:hover, :focus) {
  background: #ffffff1a;
}

.btn a {
  color: white;
}

.h1,
.h2,
.h3 {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.h1 {
  color: #ffffff;
  font-size: calc(20px + 3.5vw);
}

.h2,
.h3 {
  color: #223544;
}

.h2 {
  font-size: calc(18px + 1.6vw);
}

.h3 {
  font-size: calc(16px + 0.45vw);
  font-weight: 700;
}

section {
  text-align: center;
}

.section-subtitle {
  color: #b08fd6;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 15px;
}

.section-text {
  color: #636774;
  margin-bottom: 40px;
  max-width: 60ch;
  margin-inline: auto;
}

.card-text {
  color: #636774;
  font-size: 15px;
}

/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 83px;
  z-index: 4;
  background-color: #020714;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #ffffff1a;
  padding-block: 15px;
  z-index: 1;
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.helpline-box .wrapper {
  display: block;
  color: #ffffff;
  font-size: 13px;
}

.helpline-box .icon-box {
  background: #b08fd6;
  padding: 6px;
  border-radius: 50%;
  color: #ffffff;
}

.header-top .logo {
  margin-inline: auto;
  text-align: center;
  color: #ffffff;
  font-family: inherit;
}

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
}

.header-bottom {
  border-bottom: 1px solid #ffffff1a;
  border-bottom: none;
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-link {
  color: #ffffff;
  padding: 8px;
  border: 1px solid #ffffff4d;
  border-radius: 50%;
  font-size: 15px;
  transition: 0.25s ease-in-out;
}

.header .btn {
  padding: 6px 20px;
}

.header.active .header-bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  color: #404040;
  box-shadow: 0 2px 5px #00000014;
  transition: 0.25s ease-in-out;
}

.header.active .navbar-link {
  color: #404040;
}

.header.active .navbar-link:is(:hover, :focus) {
  color: #b08fd6;
}

.header.active .social-link {
  color: #404040;
  border-color: #00000026;
}
.inup {
  display: flex;
  gap: 20px;
}
.in {
  color: white;
}
/*-----------------------------------*\
 * #NAVBAR
\*-----------------------------------*/

.navbar-link {
  color: #ffffff;
  font-size: 15px;
  transition: 0.25s ease-in-out;
  text-transform: uppercase;
  padding: 20px 15px;
}

.navbar-link:is(:hover, :focus) {
  color: #b08fd6;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list li {
  border-bottom: none;
}

/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-position: center;
  text-align: center;
  min-height: 800px;
  padding-top: 10%;
}

#myVideo {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 115%;
  z-index: -1;
  filter: brightness(65%);
}

.hero-title {
  margin-bottom: 20px;
  margin-top: 90px;
}

.hero-text {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero .container {
  max-width: 740px;
}

/*-----------------------------------*\
 * #testimonial
\*-----------------------------------*/
.testimonial {
  margin-top: 200px;
}
.outerdiv {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerdiv {
  transform: scale(0.9);
  margin: 1rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-rows: repeat(2, 22rem);
  grid-template-columns: repeat(4, 17rem);
}
.eachdiv {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 20px #6d6b6b6b;
  color: white;
}
.div1 {
  background: #733fc8;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-x: 25rem;
}
.div2 {
  background: #49556b;
  grid-column: 3/4;
  grid-row: 1/2;
}
.div3 {
  background: white;
  grid-column: 4/5;
  grid-row: 1/3;
  color: black;
}
.div4 {
  background: white;
  grid-column: 1/2;
  grid-row: 2/3;
  color: black;
}
.div5 {
  background: #18202d;
  grid-column: 2/4;
  grid-row: 2/3;
}
.userdetails {
  display: flex;
}
.imgbox {
  margin-right: 1rem;
}
.imgbox img {
  border-radius: 50%;
  width: 2rem;
  border: 2px solid #cec5c5;
}
.detbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detbox p {
  margin: 0;
}
.detbox .name {
  color: hsl(0, 0%, 81%);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.detbox .name.dark {
  color: #49505a;
}
.detbox .designation {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  font-size: 0.8rem;
}
.detbox .designation.dark {
  color: #49505a;
}
.review h4 {
  font-size: 1.4rem;
  color: #f3deff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}
.review.dark h4 {
  color: #4b5258;
}
.review p {
  font-size: 0.95rem;
  color: #f3deff;
  font-weight: 500;
  opacity: 50%;
  line-height: 1.5;
}
.review.dark p {
  color: #0e0e0e;
}
.attribution {
  font-size: 1rem;
  line-height: 1.5;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-align: right;
}
.attribution a {
  text-decoration: none;
}

/*-----------------------------------*\
 * #aboutus
\*-----------------------------------*/
.aboutussec {
  margin-top: 150px;
}
.aboutus {
  display: flex;
  align-items: stretch;
}
.aboutus p {
  color: white;
  background-color: #212529;
  border-radius: 10px;
  padding: 20px;
  width: 800px;
}

.aboutus img {
  width: 750px;
  height: 400px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*-----------------------------------*\
 * #CONTACTUS
\*-----------------------------------*/
.contactus {
  text-align: center;
  margin-top: 200px;
  /* //border-top: 0.5px solid rgb(142, 139, 139); */
}
.contact {
  width: 170vh;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 120px;
}

.contact-inner-container {
  width: 150%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #020714;
  border-radius: 4px;
  padding-right: 20px;
}

.contact-info-container {
  text-align: left;
  padding: 50px;
  background: #9169bc;
}

.contact-form {
  width: 100%;
  background: #020714;
  padding: 50px;
  border-radius: 0px 4px 4px 0px;
}

.contact-heading {
  font-family: inherit;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  color: white;
}

.contact-description {
  font-family: inherit;
  font-weight: 700;
  color: white;
  line-height: 1.6rem;
  text-align: justify;
  font-size: 16px;
  margin-top: 20px;
}

.line {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: white;
  margin: 24px 0px;
}

.contact-details {
  padding-top: 24px;
}

.contact-details h3 {
  font-weight: 600;
  color: #9b9b8f;
}

.contact-details p {
  color: whitesmoke;
  font-weight: 500;
  margin-bottom: 6px;
}

.social-link-container {
  display: flex;
  margin-top: 30px;
}

.form-group:not(:last-child) {
  margin-bottom: 1rem;
}

.input-field {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 18px;
  background: #f2f2f2;
}

.form-group textarea {
  height: 200px;
}
.contact-details a {
  color: white;
}
/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/
.footer .container {
  display: grid;
}
.footer-top .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}

.footer-top {
  background: #020714;
  padding-block: 60px;
  color: #e0e0e0;
  border-top: 1px solid gray;
}

.footer-text {
  font-size: 14px;
  line-height: 1.7;
}

.form-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.footer-form .input-field {
  background: #ffffff;
  font-size: 14px;
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 0px;
}

.footer-form .btn {
  width: 100%;
}

.footer-bottom {
  background: #020714;
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: #e0e0e0;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.footer-bottom-list > li {
  position: relative;
}

.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: #ffffff33;
}

.footer-bottom-link {
  color: #e0e0e0;
  font-size: 12px;
  transition: 0.25s ease-in-out;
}

.footer-bottom-link:is(:hover, :focus) {
  color: #ffffff;
}

/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  background: #b08fd6;
  color: #ffffff;
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 1px 3px #00000080;
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: 0.25s ease-in-out;
}

.go-top.active {
  opacity: 0.8;
  transform: translateY(0);
  visibility: visible;
}

.go-top:is(:hover, :focus) {
  opacity: 1;
}

/*-----------------------------------*\
 * #Loader
\*-----------------------------------*/

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
  background-color: white;
}

.loader img {
  width: 20rem;
  height: 20rem;
}

.blur-effect {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1000;
  pointer-events: none;
}

#popupMenu {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
  pointer-events: auto;
  width: 700px;
  padding: 20px;
  background-color: #474444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flabel-btn {
  display: flex;
  gap: 60%;
}
.flabel {
  border-bottom: 1px white solid;
  border-radius: 2px;
  margin-bottom: 20px;
  color: white;
  font: inherit;
}
.flabel input {
  outline: none;
}
